HELP.md
.gradle/
build/
out/
bin/
!gradle/wrapper/gradle-wrapper.jar

**/node_modules/
**/dist/
**/.env
**/.env.local

.idea/
*.iws
*.iml
*.ipr
/out/

.vscode/

.DS_Store
*.log
logs/
*.jtl

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/

.env
.env.*
!.env.example